<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <script src="/static/app.js" defer></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <nav>
        <a href="/products">Return Home</a>
    </nav>
    <h1><%= product.name %></h1><br><br>
    <div>Description: <%= product.description %></div><br><br>
    <div>Img: <%= product.img %> </div><br><br>
    <div>Price: <%= product.price %> </div><br><br>
    <div>Qty: <%= product.qty %> </div><br><br>

    <div> 
       <button id="buy">BUY</button>
    </div>
    <br>
    
    <a href="/products/<%=product._id%>/edit">Edit Product</a> <br><br>
    <form action="/products/<%=product._id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE">
    </form>

</body>
</html>

